<% @user.tracks.each do |track| %>
  <%= link_to track.name, track %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%#= @user.bio %>
</p>

<%= link_to 'Back to Users', users_path %>