// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login {
background-image: url('recording.gif');
}

p {
text-align: float;
}

a {
font-size: 20px;
}

.new-track {
background-image: url('red.jpg');
background-size:   cover;
position: relative;
background-color: #cccccc;
}