

body {
    background-image:  url('dj.png');
    background-size:   cover;
    position: relative;                     
    background-color: #cccccc;           
    font-family: 'Open Sans', sans-serif;
}

.intro {
  width:40%;
  text-align: center;
  margin-left: -22.5%;
  position: absolute;
  bottom: 150px;
  left: 50%;
  text-shadow: 0 0 2em ;
  padding: 1em;
}

.intro h1, 
.intro h3 {
  color: white;
}
html, body {
  color: white;
  height: 100%;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  position: center;
}

li { 
  text-align: center;
display: inline; 
padding: 20px; 
}

.menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

.button {
  width:20px;
  height:20px;
  background: url('images/scrollUp.png');
  position:fixed;
  top:50%;
  margin-left: 1010px;
}
/*.button {
  text-align: center;
  position: center;
}

*/