$color-brand: rgb(152, 176, 179);
$font-default: 'Avenir';

* {
  box-sizing:border-box;
}

body {
    font-family: $font-default;
    background: #272525;
    background: #202020;
}
.container {
  text-align: center;
  width:75%;
  height:70%;
  margin:0 auto;
  padding:2em;
  border:1px solid $color-brand;
  background-image: url('soundboard.jpg');
  background-size: cover;

   background-repeat: no-repeat;
   img {
    max-width: 75%;
   }

    // h1 {
    //   color:$color-brand;
    //   text-align: center;
    // }
}

p {
  text-align: center;
  font-size: 20px;
  color: #63717D;
}

h1 {
  text-align: center;
  color: #63717D;
}

li {
  list-style:none;
  text-align: left;
}

a {
  color: #63717D;
}